Import all necessary packages

In [1]:
import pandas as pd ## For data manipulation
import numpy as np ## For data manipulation
import requests ## To retrive website data
from bs4 import BeautifulSoup ## Website scraping

Extracting the table from wikipedia

In [2]:
page = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(page.content, 'lxml')
table = soup.find_all('table')[0]
df = pd.read_html(str(table), header=0)[0] ## Using header to define columns names

Data manipulation

In [3]:
df = df[(df.Borough != 'Not assigned')] ## Eliminate Not assigned Borough
df.loc[df['Neighborhood'] == 'Not assigned','Neighborhood'] = df['Borough'] ## Replace Not assigned Neighborhood with Borough.

In [4]:
df = df.groupby(['Postcode','Borough'])['Neighborhood'].apply(', '.join).reset_index() ## Concat neighborhood

In [5]:
df = df.rename(columns = {'Postcode': 'PostalCode'})

In [6]:
df.shape

(103, 3)

In [7]:
geo = pd.read_csv('Geospatial_Coordinates.csv')
geo

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [8]:
dfgeo = df.merge(geo, left_on = 'PostalCode', right_on = 'Postal Code', how = 'left')[['PostalCode', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']]
dfgeo

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054